.colorbox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: block;
  position: relative;
  cursor: pointer;
}

.colorbox .copy-button {
  width: 100px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
  opacity: 0;
  cursor: pointer;
}

.colorbox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}

.box-content {
  position: absolute;
  padding: 10px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: none;
  right: 0;
  bottom: 0;
  color: white;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.copy-overlay {
  position: absolute;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  /* transform: scale(0.1); */
  transition: transform 0.5s ease-in-out;
}

.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
}

.copy-msg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0.1);
  opacity: 0;
  color: white;
}

.copy-msg h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
  text-transform: uppercase;
}

.copy-msg p {
  font-size: 2rem;
  font-weight: 100;
}

.copy-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 25;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.3s;
}